<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://apis.google.com/js/api:client.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>


  <title>Error - 404</title>
</head>

<div id="nav-placeholder"></div>
    <script>
        $(function(){
            $("#nav-placeholder").load("/navbar");
        });
    </script>

<body>
  <!-- Container -->
  <div class="container p-4">

    <!-- Title -->
    <div class="row">
      <h2>ORSP Research Days Portal - 404 Page Not Found</h2>

      <!-- /Title -->
    </div>
    <div class="row mt-4">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">404 Error. The page you tired reaching does not exist.</h4>
      </div>
    </div>
  </div>
  <!-- /Container -->

</body>

</html>