<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <script src="/js/lib/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
  <script src="/js/lib/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  

  <title>Error - 404</title>
</head>

<div id="nav-placeholder"></div>
    <script>
        $(function(){
            $("#nav-placeholder").load("/navbar");
        });
    </script>

<body>
  <!-- Container -->
  <div class="container p-4">

    <!-- Title -->
    <div class="row">
      <h2>ORSP Research Days Portal - 404 Page Not Found</h2>

      <!-- /Title -->
    </div>
    <div class="row mt-4">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">404 Error. The page you tired reaching does not exist.</h4>
      </div>
    </div>
  </div>
  <!-- /Container -->

</body>

</html>