<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/lib/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/launchModal.js"></script>
</head>

<div id="nav-placeholder"></div>
<script>
  $(function () {
    $("#nav-placeholder").load("/navbar");
  });
</script>

<body>
  <div class="container p-4">
    <h2>Select Dashboard</h2>
    <div class="table-responsive mt-4">
        <!-- <div class="btn-group"> -->
          <% if (isStudent){ %> 
            <form action="/student" method="get">
                <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Student</button>
            </form>
          <% } %> 
          <% if (isORSP){ %> 
            <form action="/orsp" method="get">
                <button type="submit" class="btn btn-outline-primary btn-block btn-lg mt-3">ORSP</button>
            </form>
          <% } %>
          <% if (isORSPAdmin){ %> 
            <form action="/orspadmin" method="get">
                <button type="submit" class="btn btn-outline-primary btn-block btn-lg mt-3">ORSP Admin</button>
            </form>
          <% } %> 
          <% if (isFaculty){ %> 
            <form action="/faculty" method="get">
              <button type="submit" class="btn btn-outline-primary btn-block btn-lg mt-3">Faculty</button>
            </form>
          <% } %> 
        <!-- </div> -->
    </div>
  </div>
</body>
</html>
