<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <title>Contact Us</title>
</head>


<div id="nav-placeholder"></div>
    <script>
        $(function(){
            $("#nav-placeholder").load("/navbar");
        });
    </script>

<body>
    </nav>
    <!-- Container -->
    <div class="container p-4">
        <!-- Title -->
        <div class="row">
            <h2>Contact Us</h2>
        </div>
        <!-- /Title -->
        <!-- Content -->
        <div class="row mt-4">
            <div class="alert alert-info" role="alert">
                If you have any questions, please email
                <a href="mailto:researchdays@kean.edu" target="_blank">researchdays@kean.edu</a>
                <hr>
                <a href="mailto:researchdays@kean.edu" target="_blank" class="btn btn-outline-primary">Send Email</a>
            </div>

        </div>
        <div class="row mt-4">

        </div>
        <!-- /Content -->
    </div>
    <!-- /Container -->

</body>

</html>