<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <title>Design 1</title>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">
        <img class="img-fluid" style="height:75px;" src="/img/orsp.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="contact.html">Contact Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="login.js">Login</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /Navbar -->


<body>
    </nav>
    <!-- Container -->
    <div class="container mt-2">

        <div class="container m-2">

            <!-- Title -->
            <div class="row mt-4">
                <h2>Contact Us</h2>
            </div>
            <!-- /Title -->
            <!-- Content -->
            <div class="row mt-4">
                <div class="alert alert-info" role="alert">
                    If you have any questions, please email 
                    <a href="mailto:researchdays@kean.edu" target="_blank">researchdays@kean.edu</a>
                    <hr>
                    <a href="mailto:researchdays@kean.edu" target="_blank" class="btn btn-outline-primary">Send Email</a>
                  </div>
            
            </div>
            <div class="row mt-4">
                
            </div>
            <!-- /Content -->
        </div>
    </div>
    <!-- /Container -->

</body>

</html>