<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/js/lib/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
  <script src="/js/lib/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">

  <title>Error Occured</title>
</head>

<div id="nav-placeholder"></div>
    <script>
        $(function(){
            $("#nav-placeholder").load("/navbar");
        });
    </script>
<body>
  <!-- Container -->
  <div class="container p-4">

    <!-- Title -->
    <div class="row">
      <h2>ORSP Research Days Portal</h2>
    </div>
    <div class="row mt-4">
      <div class="alert alert-danger" role="alert">
        <h5 class="alert-heading">ERROR: <%=error%></h5>
      </div>
    </div>
  </div>

</body>

</html>