<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id"
    content="745501205386-1eib7vvmr41pa488m35bf2f9l88thd72.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/style.css">

  <title>Home</title>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">
    <img class="img-fluid" style="height:75px;" src="/img/orsp.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact Us </a>
      </li>
      <li class="nav-item ">
        <!-- <a class="nav-link" href="login">Login</a> -->
        <div id="gSignInWrapper">
          <div id="signinBtn" class="customGPlusSignIn nav-link">Sign in</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="signOut();">Sign out</a>
      </li>
    </ul>
  </div>
  <div id="name"></div>
</nav>
<script src="/js/signin.js"></script>

<body>
  <!-- Container -->
  <div class="container p-4">

    <!-- Title -->
    <div class="row">
      <h2>ORSP Research Days Portal</h2>

      <!-- /Title -->
    </div>
    <div class="row mt-4">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Please note</h4>
        <hr>
        <p>Registration for Kean Research Days 2021 is due by Feburary xx.</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="btn-group" role="group" ;>
        <a class="btn btn-lg btn-outline-primary" href="login" role="button">Register for Research Days</a>
        <a class="btn btn-lg btn-outline-primary" href="https://kean.edu/research-days-2020/" role="button">Learn
          More</a>
      </div>
      <!-- /Button Group -->
    </div>
  </div>
  <!-- /Container -->

</body>

</html>