<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="/js/getMajors.js"></script>
        <link rel="stylesheet" href="/css/style.css">
        <title>Insert Major</title>
    </head>

    <div id="nav-placeholder"></div>
    <script>
        $(function(){
            $("#nav-placeholder").load("/navbar");
        });
    </script>

<body>
    <div class="container p-4">
        <h1>Major Insertion Tool</h1>
        <hr>
        <h3>Manually Input</h3>
        <div class="form-group">
            <form action="/insert-major" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <label for="major">Major: </label>
                        <input type="text" name="major" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="department">Department: </label>
                        <input type="text" name="department" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md">
                        <label for="college">College:</label> 
                        <select name="college" class="form-control">
                            <option value=""></option>
                            <option value="CBPM">College of Business and Public Management</option>
                            <option value="COE">College of Education</option>
                            <option value="CLA">College of Liberal Arts</option>
                            <option value="CNAHS">College of Natural, Applied and Health Sciences</option>
                            <option value="MGC">Michael Graves College</option>
                            <option value="NWGC">Nathan Weiss Graduate College</option>
                            <option value="NJCSTM">New Jersey Center for Science, Technology and Mathematics</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success col-md">Submit</button>
            </form>
        </div>
        <br>

        <h3>File Upload</h3>
        <p>Please ensure that the file is a .csv file and is in the order of major, department, and college. Please include the header as well.</p>
        <form action="/insert-major-file" method="POST">
            <div class="form-group">
                <label for="majorFile"></label>
                <input type="file" name="majorFile" id="majorFile" accept=".csv" class="form-control">
            </div>
        </form>

                <h1>Current Majors in the database</h1>

                <table class="table table-dark table-bordered">
                    <thead>
                        <tr>
                            <td scope="col">Major</td>
                            <td scope="col">Department</td>
                            <td scope="col">College</td>
                            <td scope="col">Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for major in major %}
                            <tr>
                                <td>{{major.major}}</td>
                                <td>{{major.department}}</td>
                                <td>{{major.college}}</td>
                                <td>
                                <button class="btn btn-danger" onclick="deleteEntry('{{major.id}}', '{{major.major}}')">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

    </div>

</body>
</html>