<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://apis.google.com/js/api:client.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<% if(!loggedIn){ %>
<script defer src="/js/signin.js"></script>
<%}%>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="img-fluid" style="height:75px;" src="/img/orsp.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://kean.edu/research-days-2020/">About</a>
            </li>
                <% if (loggedIn){ %>
                    <li class="nav-item ">
                        <a class="nav-link"  href="/student-form">Register New Project</a>
                    </li>
                <%}else{%>
                    
                <%}%>
                
            
        </ul>
    </div>
    <% if (loggedIn){ %>
        <div id="name"><%= name%></div>
        <a class="nav-link"  href="/signout">Sign Out</a>
    <%}else{ %>
        <a class="nav-link" id="signinBtn" href="#">Sign In with Google</a>
    <%}%>
    
</nav>
<script>startApp();</script>
<!-- /Navbar -->