<script>
    var googleUser = {};
    var startApp = function () {
        gapi.load('auth2', function () {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '745501205386-1eib7vvmr41pa488m35bf2f9l88thd72.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                prompt: 'select_account',
                hosted_domain: 'kean.edu',
                // Request scopes in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });
            attachSignin(document.getElementById('signinBtn'));
        });
    };

    function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
            function (googleUser) {
                var profile = googleUser.getBasicProfile();
                document.getElementById('name').innerText = "Signed in: " +
                    profile.getName();

                console.log('ID: ' + profile.getId()); 
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail());

                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                //console.log("ID Token: " + id_token);
                //Send ID token to server
                /*
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:3000');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function(){
                    console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send('idtoken=' + id_token);
                */

                document.getElementById("signinBtn").style.display = "none";
                document.getElementById("signout").classList.add("d-block");
            }, function (error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
        document.getElementById('name').innerText = "";
        document.getElementById("signinBtn").style.display = "block";
        document.getElementById("signout").classList.remove("d-block");
    }
</script>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="img-fluid" style="height:75px;" src="/img/orsp.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item ">
                <!-- <a class="nav-link" href="login.js">Login</a> -->
                <div id="gSignInWrapper">
                    <div id="signinBtn" class="customGPlusSignIn nav-link">Sign In</div>
                    <a class="nav-link d-none" id="signout" onclick="signOut();">Sign out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script>startApp();</script>
<!-- /Navbar -->