<script src="https://apis.google.com/js/api:client.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/js/signin.js"></script>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="img-fluid" style="height:75px;" src="/img/orsp.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item ">
                <!-- <a class="nav-link" href="login.js">Login</a> -->
                <div id="gSignInWrapper">
                    <div class="customGPlusSignIn nav-link"><a href="/signin">Login Page</a></div>
                    <!-- <a class="nav-link d-none" id="signout" onclick="signOut();">Sign out</a> -->
                </div>
            </li>
        </ul>
    </div>
    <div id="name"></div>
</nav>
<script>startApp();</script>
<!-- /Navbar -->