<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/launchModal.js"></script>
    <% function sanitizeText(expression){return expression.replace(/(\r\n|\n|\r)/gm,' ').replace(/'/g, "\\'"); } %>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function () {
        $("#nav-placeholder").load("/navbar");
    });

</script>

<div class="container p-4">
    <h1>ORSP Admin Dashboard</h1>
</div>

</html>