<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/launchModal.js"></script>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function () {
        $("#nav-placeholder").load("/navbar");
    });
</script>

    <div class="container">
        <h1>ORSP Admin Dashboard</h1>
        <br>
        <h3><a href="/insert-major">View/Modify: Major</a></h3>
        <h3><a href="/insert-faculty">View/Modify: Insert Faculty</a></h3>
        <h3><a href="/orsp-staff">View/Modify: ORSP Staff</a></h3>
        <h3><a href="/orsp-student-list">View/Modify: Student List</a></h3>
    </div>

</html>
