<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <script src="/js/lib/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
    <script src="/js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/signin.js"></script>
</head>

<!-- Nav Bar Code -->
<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/navbar");
    });
</script>

<body>
    <div class="container">
      <h2>Research Days Login Portal</h2>
      <div class="alert alert-warning" role="alert">Please sign in with your Kean account using the button labeled "Sign In with Google".
      </div>
    </div>
</body>
</html>