<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/js/signin.js"></script>
</head>
<!-- Nav Bar Code -->
<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/navbar");
    });
</script>

<body>
    
    <div class="container">
      <h1>Research Days Login Portal</h1>
      <button type="button" class="btn btn-primary" id="signinBtn">Click here to sign-in</button>

    </div>

</body>
</html>