<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <!-- test if needed -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/js/launchModal.js"></script>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function () {
        $("#nav-placeholder").load("/navbar");
    });
</script>

<body>
    <div class="container p-4">
        <h2>Your Submissions, <%= name%></h2>
        <div class="table-responsive mt-4">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date Submitted</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Pending ORSP</td>
                        <td>391983785</td>
                        <td>
                            <button onclick="launchModal('A Quantitative Analysis of Economic Theory in China','391983785','textABSTRACTtext','Daniel Henriques','Reuben Hernandez','Ching-yu Austin Huang','04/15/20')"class="btn btn-link text-left" data-toggle="modal" data-target="#myModal">
                                A Quantitative Analysis of Economic Theory in China
                            </button>
                        </td>
                        <td>04/15/2020</td>
                    </tr>
                </tbody>
                
                <tbody>
                    <tr>
                        <td>Pending ORSP</td>
                        <td>420111024</td>
                        <td>
                            <button onclick="launchModal('An Analysis of Egypts Monarchy','420111024','AbstractTEXTgoHERE','Syed Nadeem','Reuben Hernandez','Dr. Mira A. Franke', '02/31/2023')" class="btn btn-link text-left" data-toggle="modal" data-target="#myModal">
                                An Analysis of Egypts Monarchy
                            </button>
                        </td>
                        <td>02/31/2023</td>
                    </tr>
                </tbody>

            </table>
        </div>


        <div id="myModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="container">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-10"> 
                                    <h3 id="title"></h3> 
                                </div>
                                <div class="col">
                                    <span class="badge badge-info" id="status"></span>
                                </div>
                            </div>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-8 mr-auto">
                                    <h5>Abstract</h5>
                                    <p class="my-textbox" id="abstract" contenteditable="false"></p>
                                </div>
                                <div class="col-3">
                                    <h5>Primary Presenter</h5>
                                    <p id="primary"></p>
                                    <h5 class="mt-4">Additional Presenters</h5>
                                    <p id="coPres"></p>
                                    <h5 class="mt-4">Faculty</h5>
                                    <p id="faculty"></p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p class="mr-auto small text-muted" id="lastEdit"></p>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            <div>
                                <div>
                                    <input id="edit" onclick="editable(); editAbstarct();" class="edit btn btn-primary" type="button" value="Edit" />
                                    <input id="save" onclick="noteditable(); doneEditAbstarct();" class="btn btn-primary" type="button" value="Save" /> 
                                    <input id="cancel" onclick="noteditable(); doneEditAbstarct();" class="btn btn-danger" type="button" value="Cancel" />
                                </div>
                            </div>

                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<!-- edit to save/cancel function -->
<script src="/js/editModal.js"></script>
</html>