input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

nav {
  background-color: #f8f9fa;
}

#signinBtn:hover {
  cursor: pointer;
}

tbody {
  background-color: #f8f9fa !important;
}

#abstractLaunchModal,#studentAbstractLaunchModal, #noteLaunchModal, #AdminNoteLaunchModal{
  border: thick solid white;
  padding: 2px;
  width: 100%;
  word-wrap: break-word;
}

#IPO {
  visibility: hidden;
}

/* faculty edit options of personal projects*/
#save, #cancel {
  display:none;
  }

#edit {
  visibility: hidden;
}

#approve {
  visibility: hidden;
}

/*faculty edit options for students*/
#reviewStudent, #cancelStudentReview {
  display:none;
  }

#editStudentsAbstarct {
  visibility: hidden;
}

#approveStudent {
  visibility: hidden;
}

/*ORSP edit options*/
#ORSPsave, #ORSPcloseNote {
  display:none;
  }

#ORSPapprove {
  visibility: hidden;
}

/*Admin edit options*/
#adminSave, #adminCloseNote {
  display:none;
  }

#adminApprove {
  visibility: hidden;
}

td {
  vertical-align: middle !important;
}

.dataTables_filter {
  display: none;
  }

#abstractCharRemaining
{
  visibility: hidden;
}