input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

body {
background-color: #f8f9fa;
}

.navbar {
  background-color: #eeeeee !important;
}

#signinBtn:hover{
  cursor: pointer;
}

/* co-presenter seperater  */
hr.CPdivider 
{
border: 1px solid blue;
}

/* student info box */
#InfoBox
        {
            width: auto;
            margin: 25px;
            height: auto;
        }

        #container {
            width: auto;
            background-color: #777;
            margin: auto;
            height: auto;
            border-radius: 25px 25px 0px 0px;
        }

        #Title {
            width: 72.5%;
            height: auto;
            margin: 25px 0px 25px 25px;
            padding: 5px;
            float: left;
            background-color: white;
            vertical-align: middle;
            font-size: 35px;
            overflow-y: auto;
            white-space: nowrap;
            border: 2px solid black;
        }

        #Status {
            width: 150px;
            height: auto;
            margin: 25px;
            float: right;
            background-color: white;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
            border: 2px solid black;
        }

        #clear {
            clear: both;
        }

        .collapsible {
            background-color: #777;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 20px;
            border-radius: 0px 0px 25px 25px;
        }

        .active1,.collapsible:hover {
            background-color: #555;
        }

        .collapsible:after {
            content: 'Show More \2193';
            color: white;
            font-weight: bold;
            margin: auto;
            overflow: visible;
        }

        .active1:after {
            content: "Show Less \2191";
        }

        .content {
            padding: 0 18px;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #d3d3d3;
            border-radius: 25px;
        }

        #ContentContainer {
            width: auto;
            margin: 25px;
            height: auto;
        }

        #people {
          font-size: 25px;
          float: right;
        }

        .AbContent{
          width: 70%;
          height: 100px;
          margin: 0px 15px 15px 15px;
          padding: 5px;
          float: left;
          background-color: white;
          font-size: 20px;
          overflow: scroll;
          word-wrap: break-word;
          border: 2px solid black;
        }

        .PeContent{
         width: 20%;
         height: 100px;
         margin: 0px 15px 15px 15px;
         padding: 5px;
         float: right;
         background-color: white;
         font-size: 15px;
         overflow: scroll;
         word-wrap: break-word;
         border: 2px solid black;
        }

        .progress{
          border: 2px solid black;
          font-size: 20px;
          padding: 5px;
          width: auto;
          margin: 15px;
          text-align: center;
          background-color: white;
          border-radius: 25px;
        }

        .powerpoint{
          width:100%; 
          height:auto; 
          text-align: center;
        }