input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

body {
background-color: #f8f9fa;
}

.navbar {
  background-color: #eeeeee !important;
}

#signinBtn:hover{
  cursor: pointer;
}

hr.CPdivider 
{
border: 1px solid blue;
}